*
{
    box-sizing: border-box;
}


.row
{
    background-color: rgb(79, 79, 129);
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-container_lvl1
{
    display: flex;
    align-items: center;
   justify-content: center;
}

.flex-item-lvl1
{
    padding-left:15px;
    color: white;
}