*
{
    box-sizing: border-box;
}

.grid_wrapper
{
    background-color: rgb(79, 79, 129);
    text-align: center;
}

.row
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 15%;
}


.flex-container_lvl1
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item-lvl1
{
    padding-left:20%;
    
    color: white;
}